body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row{
  margin: 0 !important;
}
.card-panel {
  margin: 0 !important;
}
.date-font{
  font-family: 'Meie Script', cursive;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.63);
}
.create-post select{
  width: 30%;
  padding: 6px 10px;
  padding-left: 10px;
  margin: 10px 0;
  border: 10px solid 26a69a;
  box-sizing: border-box;
  display: block;
}

.create-post label{
  padding-left: 10px;
}
.post-content p{
  font-size: large;
}